apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-webapp
  labels:
    app: hello-webapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello-webapp
  template:
    metadata:
      labels:
        app: hello-webapp
    spec:
      containers:
        - name: hello-webapp
          image: hello-webapp:1.0
          ports:
            - containerPort: 5000
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 15
            periodSeconds: 20
